# Editors
.vscode/
.idea/

# Byte-compiled
__pycache__/

# Tests / Coverage
.pytest_cache/
.coverage
coverage.xml

# mypy
.mypy_cache/

# flake8-dashboard
flake8_dashboard/

# Build / publish
dist/
build/

# Databases
database.sqlite
.doit.db

# Docs
pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist

