# Editors
.vscode/
.idea/

# Byte-compiled
__pycache__/

# Tests / Coverage
.pytest_cache/
.coverage
coverage.xml

# mypy
.mypy_cache/

# flake8-dashboard
flake8_dashboard/

# Build / publish
dist/
build/

# Database
database.sqlite
